#dashboard{
	width:940px;
	height:500px;
	border:1px solid #000000;
}

.container-border {
	padding: 5px;
	border:1px solid #000000;
}


div.LightClose {
	position:relative;
	top:125px;
	left:400px;
	width: 75px;
	height: 100px;
	background-image: url('../img/light_close.jpg');
	background-repeat: no-repeat;
}

div.LightOpen {
	position:relative;
	top:125px;
	left:400px;
	width: 78px;
	height: 98px;
	background-image: url('../img/light_open.jpg');
	background-repeat: no-repeat;
}

div.LightError {
	position:relative;
	top:125px;
	left:400px;
	width: 69px;
	height: 99px;
	background-image: url('../img/light_error.jpg');
	background-repeat: no-repeat;
}

div.SoundOn {
	cursor: pointer;
	position:relative;
	top:-95px;
	left: 885px;
	width: 48px;
	height: 48px;
	background-image: url('../img/sound_on.jpg');
	background-repeat: no-repeat;
}

div.SoundOff {
	cursor: pointer;
	position:relative;
	top:-95px;
	left: 885px;
	width: 48px;
	height: 48px;
	background-image: url('../img/sound_off.jpg');
	background-repeat: no-repeat;
}

div.DoorOpen {
	position:absolute;
	top:418px;
	width: 71px;
	height: 148px;
	background-image: url('../img/door_open.jpg');	
	background-repeat: no-repeat;
}

div.DoorClose {
	position:absolute;
	top:418px;
	width: 78px;
	height: 149px;
	background-image: url('../img/door_close.jpg');
	background-repeat: no-repeat;
}

#DoorBell {
	display:none;
	position:relative;
	top:325px;
	left:25px;
}

#DoorLock {
	display:none;
	position:relative;
	top: 415px;
	left: 50px;
}