#dashboard{
	width:940px;
	height:500px;
	border:1px solid #000000;
}

.container-border {
	padding: 5px;
	border:1px solid #000000;
}


div.LightClose {
	position:relative;
	top:125px;
	left:400px;
	width: 75px;
	height: 100px;
	background-image: url('../img/light_close.jpg');
	background-repeat: no-repeat;
}

div.LightOpen {
	position:relative;
	top:125px;
	left:400px;
	width: 78px;
	height: 98px;
	background-image: url('../img/light_open.jpg');
	background-repeat: no-repeat;
}

div.LightError {
	position:relative;
	top:125px;
	left:400px;
	width: 69px;
	height: 99px;
	background-image: url('../img/light_error.jpg');
	background-repeat: no-repeat;
}

#sound {
	z-index: 900;
}

div.SoundOn {
	cursor: pointer;
	position:relative;
	top:-95px;
	left: 885px;
	width: 48px;
	height: 48px;
	background-image: url('../img/sound_on.jpg');
	background-repeat: no-repeat;
}

div.SoundOff {
	cursor: pointer;
	position:relative;
	top:-95px;
	left: 885px;
	width: 48px;
	height: 48px;
	background-image: url('../img/sound_off.jpg');
	background-repeat: no-repeat;
}

div.DoorOpen {
	position:absolute;
	top:418px;
	width: 71px;
	height: 148px;
	background-image: url('../img/door_open.jpg');	
	background-repeat: no-repeat;
}

div.DoorClose {
	position:absolute;
	top:418px;
	width: 78px;
	height: 149px;
	background-image: url('../img/door_close.jpg');
	background-repeat: no-repeat;
}

#DoorBell {
	display:none;
	position:absolute;
	top:385px;
	left:280px;
}

#DoorLock {
	display:none;
	position:relative;
	top: 415px;
	left: 50px;
}

#VideoIcon {
	position:relative;
	left: 100px;
	cursor: pointer;
}

#MotionIcon {
	display: none;
	position: absolute;
	top: 350px;
	left: 600px;
}

#alert, #warning, #success, #info {
	z-index: 1000;
	position:absolute;
	top: 67px;
	display: none;
	width: 889px;
}

/* Style for overlay and box */
.overlay{
	background:transparent url('../img/overlay.png') repeat top left;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
}

.box{
    position:fixed;
    top:-1000px;
    left:30%;
    right:30%;
    background-color:#fff;
    color:#7F7F7F;
    padding:20px;
    border:2px solid #ccc;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index:101;
}
		
a.boxclose{
    float:right;
    width:26px;
    height:26px;
    background:transparent url('../img/cancel.png') repeat top left;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
}

#box .left {
	float: left;
	border: 1px solid #000000;
	width: 320px;
	height: 240px;
}

#box .right {
	float: right;
	padding-left: 25px;
	border-left:1px solid #000000;
	height: 240px;
}