#dashboard{
	width:1000px;
	height:500px;
	border:1px solid #000000;
}

.container-border {
	padding: 5px;
	border:1px solid #000000;
}


#door  {
}

div.DoorOpen {
	width: 71px;
	height: 148px;
	background-image: url('../img/door_open.jpg');	
}

div.DoorClose {
	width: 78px;
	height: 149px;
	background-image: url('../img/door_close.jpg');
}
